<<<<<<< HEAD
=======

>>>>>>> 319221a7e23df3cad8f0cf8b3148209cd477894d
<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">

<<<<<<< HEAD
</form>
=======
</form>
>>>>>>> 319221a7e23df3cad8f0cf8b3148209cd477894d
