<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

<<<<<<< HEAD
</form>
=======
</form>
>>>>>>> 319221a7e23df3cad8f0cf8b3148209cd477894d
